body {
    background-color: #fff5ee;
    font-family: sans-serif;
}

.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #E6D6CA;
    padding: 1em 0;
    position: relative;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.site-nav {
    top: 100%;
    right: 0;
    position: absolute;
    background: #5e3338;
    height: 0;
    overflow: hidden;
}

.site-nav-open {
    height: auto;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav li {
    border-bottom: 1px solid #6B3A40;
}

.site-nav a {
    color: #fff5ee;
    display: block;
    padding: 2em 6em;
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav a:hover, .site-nav a:focus {
    background: #8A4A52;
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
}

.hamburguer, .hamburguer::after, .hamburguer::before {
    content: '';
    display: block;
    background-color: #8A4A52;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
}

.hamburguer::before {
    transform: translateY(-6px);
}

.hamburguer::after {
    transform: translateY(3px);
}

.site-nav--icon {
    display: inline-block;
    font-size: 1em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: #fff5ee;
}

@media (min-width:800px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }
    .site-nav a {
        padding: 0;
        margin-left: 3em;
        color: #8A4A52;
    }
    .site-nav--icon {
        color: #8A4A52;
    }
    .site-nav a:hover, .site-nav a:focus {
        background: transparent;
        color: #6B3A40;
    }
}